*{
    margin: 0;
    padding: 0;
}



header{
    
    /* max-width: 1440px; */
    background-image: url(./images/Hero-bg.png);
    height: 700px;
}
header nav{
    display: flex;
   justify-content: space-between;
   max-width:1540px;
   margin: auto;
  
 padding-top: 80px;
}
 nav .logo{
width:200px;
height:190px;

}
nav .logo {
     font-size: 50px;
    font-weight:bolder;
    color: #4E47FF;
    text-transform: uppercase;
    margin-left: -20px;
}
.sing-up-button button{
height: 45px;
width: 150px;
border-radius: 5px;
border: none;
background-color: #4E47FF;
cursor: pointer;
}

.sing-up-button button:hover{
    background: #47ff6fd5;
    width: 160px;
    height: 50px;
    transition: 1s;
    
}
.sing-up-button button a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;

}


.template{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      color: #252432;
    font-weight: bold;
    font-size:40px;
    height:230px;
    width:800px;
    margin:auto;
   
 
  text-align: center;
   

}
 .template .template-button{
 width: 250px;
   padding: 15px 35px;

border-radius: 5px;
border: none;
background-color: #4E47FF;
margin-top: 20px;
}

.template .template-button:hover{
    width: 280px;
   padding: 20px 70px;

border-radius: 5px;

    background: #47ff6fd5;
transition: 1s;
}

.template .template-button a{
     text-decoration: none;
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
    
}

.template h2{
    color: #252432;
    margin-top: 25px;
    
}

main{
    background-color: #4d47ff13;
}
/* action part */
.action{
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    margin-bottom: 100px;
}
.action-left{
   
    align-items: center;

    
}
.action-left h3{
    font-size: 50px;
    text-transform: capitalize;
    margin-top: 50px;
    
}
.action-left p{
    color: #767580;
    font-size: 20px;
    margin-top: 15px;
    
}
.action-left button{
    width: 300px;
padding: 15px 25px;
background-color: #4E47FF;
border-radius: 5px;
border: none;
margin-top: 20px;
cursor: pointer;
}

.action-left button:hover{
background: #47ff6fd5;
width: 350px;
padding: 25px 35px;
transition: 1s;
}


.action-left button a{
  text-decoration: none;
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
}

.action-right img{
    width: 100%;
border-radius: 35px;
}
.productive-section{
    
 margin-left: 200px;
 background-color: #a647ff1f;
 width: 1110px;
 height: 150px;
 text-align: center;
 margin-top: 30px;
 padding: 30px;
 margin-top: 20px;
 border-radius: 15px;
 align-items: center;
}
.productive-title{
    font-size: 20px;
    font-weight: 700;
    
}
.product-items{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.product-item h3{
    font-size: 50px;
    font-weight: 900;
    color:#4E47FF;
}
.product-item p{
    color: #767580;
    text-transform: capitalize;
    font-size: 18px;
}
.margin{
    margin-left: 50px;
}
.margin-right{
    margin-right: 50px;

}

.user-feedback{
    margin-top: 70px;
}

.user-feedback .feedback-title{
    
text-align: center;
font-size: 40px;
margin-bottom: 40px;
}

.card{
   
   display: flex;
   justify-content: center;
   margin:auto
}
 
 .card-single-item{
    padding: 20px 40px;
    width: 250px;
    height: 200px;
    background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
} 
.card-single-item h4{ 
    font-size: 20px;
    text-transform: capitalize;
    margin:  8px;
} 
.card-single-item p{
    margin: 0 10px;
}


.middle{
    margin: 0px 30px;
}
.card-single-item img{
width: 70px;
}

.second-part{
    display: flex;
    margin-top: 10px;
}
.second-part img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
} 

.second-part .name-date{
    margin: 15px;
}
.second-part .name-date h5{
    text-transform: capitalize;


}
.second-part .name-date p{
    color: #767580;
    text-transform: capitalize;
}

.newslater-section{
   margin-top: 40px;
}
.newslater-full{
    display: flex;
    width: 1140px;
    height: 650px;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.newslater-left{
    width: 528px;
    display: flex;
    
}
.newslater-left h2{
    font-size: 100px;
    
}
.newslater-right{
    height: 490px;
    width: 500px;
}
.newslater-right   input{
    display: block;
    width: 100%;
    height: 70px;
    border: none;
    outline: none;
    border-radius: 10px;
    padding-left: 20px;
    

}

.newslater-right  ::placeholder {
  
  
  text-transform: capitalize;
}

#textarea{
text-transform: capitalize;
padding-left: 20px ;
padding-top: 15px;
}
.newslater-right textarea{
    width: 100%;
border: none;
outline: none;
   
}
.newslater-button{
     background-color: #4E47FF;
     height: 60px;
     width: 104%;
     margin-top: 15px;
     border-radius: 10px;
     outline: none;
     cursor: pointer;

}
.newslater-button:hover{
    background: #47ff6fd5;
    transition: 1s;
    font-size: 15px;
    color: #000;
}

.newslater-button button{
    outline: none;
}

.newslater-button a{
    text-decoration: none;
    border-radius: 5px;
border: none;

font-size: 15px;
color: #fff;
width: 100%;
}



form .label{
    display: block;
    text-transform: capitalize;
    margin: 10px 0;
}


footer{
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    
}
.footer-section{

width: 550px;
height: 200px;
padding: 70px 0;

}
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
     margin-top: 15px;
}

.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    text-transform: capitalize;
    font-size:20px;
    padding: 0 10px;
       color: #8987A1;
   
}



.footer-section .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 900;
    color: #4E47FF;
    text-transform: uppercase;
}
.text p{
    color: #8987A1;
    font-size: 18px;
    margin-left: 40px;
    padding: 10px 0;
}