*{
    margin: 0;
    padding: 0;
}



header{
    
    /* max-width: 1440px; */
    background-image: url(./images/Hero-bg.png);
    height: 700px;
}
header nav{
    display: flex;
   justify-content: space-between;
   max-width:1440px;
   margin: auto;
  
 padding-top: 80px;
}
 nav .logo{
width:200px;
height:190px;

}
nav .logo img{
    width: 100%;
}
.sing-up-button button{
height: 45px;
width: 130px;
border-radius: 5px;
border: none;
background-color: #4E47FF;
}
.sing-up-button button a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;

}
.logo img{
    width: 100%;
}
.template{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      color: #252432;
    font-weight: bold;
    font-size:40px;
    height:230px;
    width:800px;
    margin:auto;
   background-color: #00000081;
  border: 1px solid black;
  text-align: center;
   

}
 .template .template-button{
 
   padding: 15px 25px;

border-radius: 5px;
border: none;
background-color: #4E47FF;
margin-top: 20px;
}
.template .template-button a{
     text-decoration: none;
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
    
}

.template h2{
    color: #252432;
    margin-top: 25px;
    
}

main{
    background-color: #4d47ff13;
}
/* action part */
.action{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px;
}
.action-left{
   
    align-items: center;

    
}
.action-left h3{
    font-size: 50px;
    text-transform: capitalize;
    margin-top: 50px;
    
}
.action-left p{
    color: #767580;
    font-size: 20px;
    margin-top: 15px;
    
}
.action-left button{
padding: 15px 25px;
background-color: #4E47FF;
border-radius: 5px;
border: none;
margin-top: 20px;
}
.action-left button a{
  text-decoration: none;
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
}

.action-right img{
    width: 100%;
border-radius: 35px;
}
.productive-section{
    
 margin-left: 200px;
 background-color: #a647ff1f;
 width: 1110px;
 height: 150px;
 text-align: center;
 margin-top: 30px;
 padding: 30px;
 margin-top: 20px;
 border-radius: 15px;
 align-items: center;
}
.productive-title{
    font-size: 20px;
    font-weight: 700;
    
}
.product-items{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.product-item h3{
    font-size: 50px;
    font-weight: 900;
    color:#4E47FF;
}
.product-item p{
    color: #767580;
    text-transform: capitalize;
    font-size: 18px;
}
.margin{
    margin-left: 50px;
}
.margin-right{
    margin-right: 50px;

}

.user-feedback{
    margin-top: 70px;
}

.user-feedback .feedback-title{
    
text-align: center;
font-size: 40px;
margin-bottom: 40px;
}

.card{
   
   display: flex;
   justify-content: center;
   margin:auto
}
 
 .card-single-item{
    padding: 20px 40px;
    width: 250px;
    height: 200px;
    background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
} 
.card-single-item h4{ 
    font-size: 20px;
    text-transform: capitalize;
    margin:  8px;
} 
.card-single-item p{
    margin: 0 10px;
}


.middle{
    margin: 0px 30px;
}
.card-single-item img{
width: 70px;
}

.second-part{
    display: flex;
    margin-top: 10px;
}
.second-part img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
} 

.second-part .name-date{
    margin: 15px;
}
.second-part .name-date h5{
    text-transform: capitalize;


}
.second-part .name-date p{
    color: #767580;
    text-transform: capitalize;
}